extends layout.pug
block content
  ul#monthlist
    li
      a(href="/bookings/01") jan
    li
      a(href="/bookings/02") feb
    li
      a(href="/bookings/03") mrz
    li
      a(href="/bookings/04") apr
    li
      a(href="/bookings/05") mai
    li
      a(href="/bookings/06") jun
    li
      a(href="/bookings/07") juli
    li
      a(href="/bookings/08") aug
    li
      a(href="/bookings/09") sept
    li
      a(href="/bookings/10") okt
    li
      a(href="/bookings/11") nov
    li
      a(href="/bookings/12") dez